
body {
    font-family: "Montserrat";
    text-align: center;
}

/* */
#title {
   background-color: black; 
   text-align: left;
 
}
 

 .Logo {
    width: 35%;
   
   
}

 

h1,h2,h3,h4,h5,h6 {
 font-family: "Montserrat";
}

/*

h2 {
    text-decoration: underline;
   
}

*/

   p {
    color: black;
   }


   /* Headings */
  
   .big-heading {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 23px;
    margin-right: 0px;
    margin-bottom: -15px;
    margin-left: 0px;
    color:black; 
}

   .section-heading {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight:bold;
   }

   /* Container 

    .container-fluid {
    padding: 4% 15%;  
    
 }
   
   */

   .container-fluid {
    padding:  1% 15%;  
    
 }

 

/* When you only have three values, the first: top second:left & right and the last:bottom as shown above. */

/* Navigation Bar */ 

/* .
 {
    padding-bottom: 4.5rem;
}  The padding-bottom is used to increase spacing between the h1 element and the rest of the text below it. */


/* Sections */



.colored-section { 
    background-color:#fff; 
    
    
   
}


.white-section {
    background-color:#fff; 
}


/*
.navbar {
    padding: 0 0 1.5rem;
   }
*/

.navbar-brand {
 font-family: "Ubuntu";
 font-size: 2.5rem;
 font-weight: bold;
    
}

/**/

.nav-item {
    padding: 0 50px;
   }


.nav-link {
 font-family: "Montserrat";
 font-weight: 400;
 color: #2C2C2C;
}




   /* Title Section */

/* 
 #title.container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}
Because the rule above; #title.container-fluid... is more specific, 
it overrides the previous rule of padding in the .container-fluid.
This is because the ID = "title" and the Class = "container-fluid"
were merged using the Advanced CSS concept of combining selectors: IDs + Classes */



/* Features Section */

#features {
 position: relative;
 background-color: #fff;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}



.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}




.carousel-image {
 width: 100%;
 height: auto;
 margin: auto; 
 text-align: center;
 padding-bottom: 30px;
   
}


.about-me {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
    padding: 30px;
    
    
   /* text-align: center;
      margin: -2% 0 3% 3%;
      width: 60%;
      float: left;
      line-height: 2.2;
      margin-top: -98px;
      margin-bottom: -110px;
   */ 
    
   
}

 
.my-story {
    margin: 1rem auto;
    text-align: justify;
    padding:0;
}

/*
.about-me-line-height {
    line-height: 1.5;
    font-size: 0.5rem;
}

.sidebar {
    width: 26%;
    float: left;
*/


.one-third-port {
    width: 29.333%;
    padding: 5%;
    float: left;
    text-align: center;
    height: auto;

}

/**/
@media (max-width: 991px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
  }

}


/* Call to Action */


/* Footer */

#mail {
    font-size: 40px;
}

#insta {
    font-size: 40px;
}


a {
padding-bottom: 3%;
margin: 15px 15px;
color:black;
text-decoration: none;
}

a:hover{
    color:rgb(10, 96, 226);
}

#footer {
  
    font-size: 15px;;
}



