
body {
    font-family: "Montserrat";
    text-align: center;
}

/* */
#title {
   background-color: black; 
   text-align: left;
 
}
 

 .Logo {
    width: 35%;
   
}


h1,h2,h3,h4,h5,h6 {
 font-family: "Montserrat";
}


   p {
    color: black;
   }


   /* Headings */
  
   .big-heading {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 23px;
    margin-right: 0px;
    margin-bottom: -15px;
    margin-left: 0px;
    color:black; 
}

   .section-heading {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight:bold;
   }

   /* Container */

   .container-fluid {
    padding:  1% 15%;  
    
 }


/* Sections */

.colored-section { 
    background-color:#fff; 
}


.white-section {
    background-color:#fff; 
}


.navbar-brand {
 font-family: "Ubuntu";
 font-size: 2.5rem;
 font-weight: bold;
    
}

/**/

.nav-item {
    padding: 0 50px;
   }


.nav-link {
 font-family: "Montserrat";
 font-weight: 400;
 color: #2C2C2C;
}


/* Features Section */

#features {
 position: relative;
 background-color: #fff;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}



.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}




.carousel-image {
 width: 100%;
 height: auto;
 margin: auto; 
 text-align: center;
 padding-bottom: 30px;
   
}

.thumbnail {
    margin-bottom: 30px;
}

.about-me {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
    padding: 30px;  
}

 
.my-story {
    margin: 1rem auto;
    text-align: justify;
    padding:0;
}


.one-third-port {
    width: 29.333%;
    padding: 5%;
    float: left;
    text-align: center;
    height: auto;

}

/* Media Queries */

@media (max-width: 991px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
  }

.thumbnail {
    margin-bottom: 25px;
}

}


/* Call to Action */

#mail {
    font-size: 40px;
}

#insta {
    font-size: 40px;
}


a {
padding-bottom: 3%;
margin: 15px 15px;
color:black;
text-decoration: none;
}

a:hover{
    color:rgb(10, 96, 226);
}


/* Footer */

#footer {
  
    font-size: 15px;;
}



